@import 'src/styles/variables.scss';
@import 'src/styles/mixins.scss';

.consultationPage {
  width: $contentMaxWidth;
  margin: 0 auto;
  padding: 60px 80px;
  box-sizing: border-box;

  .title {
    @include text-header-h2;
    color: $colorBrandBlack;
    margin-bottom: 20px;
  }

  .description {
    @include text-body-large;
    color: $colorDarkGrey;
    max-width: 730px;
  }
}
