@import 'src/styles/variables.scss';
@import 'src/styles/mixins.scss';

.consultationPage {
  width: $contentWidth;
  margin: 0 auto;
  padding: 60px 0 120px;
  box-sizing: border-box;
  flex-grow: 1;

  .title {
    @include text-header-h2;
    color: $colorBrandBlack;
    margin-bottom: 20px;
  }

  .description {
    @include text-body-large;
    color: $colorDarkGrey;
    max-width: 730px;
    min-height: 120px;
    margin-bottom: 20px;
  }

  .subsDescription {
    @include text-header-h4;
    color: $colorDarkGrey;
    max-width: 574px;
    margin-bottom: 20px;
  }
}
