@import 'src/styles/variables.scss';
@import 'src/styles/mixins.scss';

.consultation {
  padding-top: 60px;
  display: flex;
  gap: 40px;
  position: relative;

  .form {
    width: 400px;
    display: flex;
    flex-direction: column;

    .title {
      @include text-header-h3;
      color: $colorBrandBlack;
    }

    .inputs {
      @include reset-fieldset;
      padding-top: 40px;
    }
    .artistSex {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .artistSexTitle {
        @include text-header-h5;
        color: $colorBrandBlack;
      }

      .radioButtons {
        display: flex;
        gap: 20px;
      }
    }
    .dropdowns {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 30px 0 6px;
    }

    .submit {
      .requestError {
        @include text-body-medium;
        color: $colorCritical;
        min-height: 48px;
        margin-bottom: 6px;
        display: flex;
        align-items: center;
      }
    }
  }

  .banner {
    width: 840px;
    height: 448px;
    background-image: url('../../assets/images/bg/consultation.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .refresh {
    width: 286px;
    position: absolute;
    right: 0;
    top: -193px;
  }
}
