@import 'src/styles/variables.scss';
@import 'src/styles/mixins.scss';

.bannerItem {
  width: 100%;
  height: 550px;
  object-fit: cover;
  object-position: center;
  border: none;
  outline: none;
}
