@import 'src/styles/variables.scss';
@import 'src/styles/mixins.scss';

.consultaionPromo {
  display: flex;
  width: 100%;
  height: 701px;
  background-image: url('../../assets/images/bg/consultation_promo.jpg');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  align-items: center;
  justify-content: center;

  &__container {
    display: flex;
    width: 839px;
    height: 461px;
    background-color: $colorBrandWhite;
    flex-direction: column;
    align-items: center;
    padding: 40px 60.5px;
    box-sizing: border-box;
    gap: 20px;
  }

  &__title {
    @include text-body-medium;
    color: $colorDarkGrey;
  }

  &__text {
    @include text-header-h1;
    color: $colorBrandBlack;
    text-align: center;
  }

  &__textCall {
    @include text-header-h3;
  }

  &__button {
    width: 153px;
    height: 48px;
  }
}
