@import 'src/styles/variables.scss';
@import 'src/styles/mixins.scss';

.subscriptionCard {
  width: 400px;
  box-sizing: border-box;
  padding: 28px;
  border: 1px solid $colorBrandBlack;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 28px;

  .title {
    @include text-header-h3;
    color: $colorBrandBlack;
    padding-bottom: 28px;
    border-bottom: 1px solid $colorMediumLightGrey;
    text-align: center;
    align-self: center;
  }

  .narrowTitle {
    max-width: 190px;
  }

  .price {
    @include text-header-h3;
    color: $colorBrandBlack;
    text-align: center;
  }

  .features {
    @include reset-list;
    padding: 36px 0 8px;
    border-top: 1px solid $colorMediumLightGrey;
    display: flex;
    flex-direction: column;
    gap: 12px;

    .feature {
      @include text-body-medium;
      color: $colorBrandBlack;
      display: flex;
      align-items: center;
      gap: 16px;

      &::before {
        content: '';
        width: 24px;
        height: 24px;
        background-image: url('../../assets/images/icons/check_icon.svg');
        background-size: 24px 24px;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }
}

.narrow {
  width: 290px;
}
