$fontPrimary: 'Manrope', Arial, Helvetica, sans-serif;

$colorBrandBlack: #141212;
$colorBrandAccent: #fd6f1d;
$colorBrandWhite: #fff;

$colorDarkGrey: #505050;
$colorMediumGrey: #8b8b8b;
$colorMediumLightGrey: #ccc;
$colorLightGrey: #f3f3f3;

$colorFooterGrey:#F3F4F6;

$colorSuccess: #04af00;
$colorCritical: #eb3323;
$colorWarning: #e88b00;

$contentMaxWidth: 1440px;
