@import 'src/styles/variables.scss';
@import 'src/styles/mixins.scss';

.customerFavoriteProducts {
  display: flex;
  flex-direction: column;
  gap: 40px;

  .title {
    @include text-header-h3;
    color: $colorBrandBlack;
  }

  .noProducts {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .text {
      @include text-header-h4;
      color: $colorBrandBlack;
    }

    .button {
      width: 194px;
    }
  }
}
