@import 'src/styles/variables.scss';
@import 'src/styles/mixins.scss';

.newsPage {
  width: $contentMaxWidth;
  margin: 0 auto;
  &__title {
    @include text-header-h2;
    margin: 74px auto 60px 80px;
  }

  &__allNews {
    display: grid;
    grid-template-columns: repeat(4, minmax(290px, 1fr));
    row-gap: 40px;
    column-gap: 40px;
  }
}
