@import 'src/styles/variables.scss';
@import 'src/styles/mixins.scss';

.newsPage {
  max-width: $contentMaxWidth;
  margin: 0 auto;
  padding: 60px 0 100px;
  &__title {
    @include text-header-h2;
    color: $colorBrandBlack;
    margin-bottom: 60px;
    padding-left: 80px;
  }

  &__allNews {
    display: grid;
    grid-template-columns: repeat(4, minmax(290px, 1fr));
    row-gap: 40px;
    column-gap: 40px;
  }
}
