@import 'src/styles/variables.scss';
@import 'src/styles/mixins.scss';

.artistTabs {
  display: flex;
  flex-direction: column;
  gap: 40px;
  .tabsPanel {
    display: flex;

    .tab {
      @include reset-button;
      @include text-header-h3;
      @include transition-opacity;
      color: $colorMediumGrey;
      padding: 0 24px;
      height: 48px;
      box-sizing: border-box;

      &:hover {
        @include hover-opacity;
      }
    }

    .activeTab {
      color: $colorBrandBlack;
      border-bottom: 1px solid $colorBrandBlack;
    }
  }
}
