@import 'src/styles/variables.scss';
@import 'src/styles/mixins.scss';

.header {
  &__container {
    max-width: $contentMaxWidth;
    box-sizing: border-box;
    padding: 16px 80px;
    margin: 0 auto;
    display: flex;
    gap: 40px;
  }

  &__logo {
    flex-shrink: 0;
    width: 70px;
    height: 87px;
    background-image: url('../../assets/images/logo/logo.png');
    background-size: 70px 87px;
    background-position: center;
    background-repeat: no-repeat;
  }
}
