@import 'src/styles/variables.scss';
@import 'src/styles/mixins.scss';

.footer {
  background-color: $colorFooterGrey;

  .footer__list,
  .footer__connection,
  .footer__navbar,
  .footer__social,
  .footer__socialIcons {
    @include reset-list;
  }

  &__container {
    max-width: $contentWidth;
    min-height: 388px;
    box-sizing: border-box;
    padding: 40px 168px 18px 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  &__block {
    display: flex;
    flex-direction: column;
  }

  &__blockWrap {
    display: flex;
    gap: 20px;
    padding-bottom: 40px;
  }

  &__titleWrap {
    flex-direction: column;
    gap: 12px;
    margin-bottom: 40px;
  }

  &__title {
    @include text-body-large;
    @include reset-fieldset;
  }

  &__subtitle {
    @include text-body-medium;
    @include reset-fieldset;
  }

  &__logo {
    display: block;
    flex-shrink: 0;
    width: 90px;
    height: 87px;
    background-image: url('../../assets/images/logo/logo.png');
    background-size: 70px 87px;
    background-position: left;
    background-repeat: no-repeat;
    border-style: initial;
    padding: 0;
    margin: 0;
    border-right: 1px solid $colorBrandBlack;
    font-size: 0;
  }

  &__infoWrap {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 115px;
    @include text-body-small;
  }

  &__infoTitle {
    color: $colorDarkGrey;
    @include reset-fieldset;
  }

  &__infoLocation {
    @include reset-fieldset;
    color: $colorBrandBlack;
    max-width: 290px;
  }

  &__copyright {
    @include text-body-small;
    @include reset-fieldset;
  }

  &__list {
    @include text-body-small;
  }

  &__connection {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 44px;
  }

  &__connectionTitle {
    @include reset-fieldset;
    color: $colorDarkGrey;
    @include text-body-small;
  }

  &__connectionNumber {
    @include reset-fieldset;
    @include text-body-small;
    @include reset-link;
    @include transition-opacity;

    &:hover {
      @include hover-opacity;
    }
  }

  &__navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
    padding-bottom: 78px;
  }

  &__navbarLink {
    @include reset-link;
    @include reset-button;
    @include transition-opacity;

    &:hover {
      @include hover-opacity;
    }
  }

  &__navbarSeller {
    padding-bottom: 165px;
  }

  &__social {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    padding-bottom: 78px;
  }

  &__socialIcons {
    display: flex;
    justify-content: space-between;
  }
  &__socialIcon {
    @include transition-opacity;
    display: flex;
    cursor: pointer;
    font-size: 0;

    &:hover {
      @include hover-opacity;
    }
  }

  &__socialLink {
    width: 24px;
    height: 24px;
  }
}
