@import 'src/styles/variables.scss';
@import 'src/styles/mixins.scss';

.outlinedButton {
  @include reset-button;
  @include text-body-medium;
  width: 100%;
  background-color: $colorBrandWhite;
  border: 1px solid $colorBrandBlack;
  padding: 12px 0;
  color: $colorBrandBlack;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  transition: all ease-in-out 0.15s;

  &:hover {
    background-color: $colorDarkGrey;
    color: $colorBrandWhite;
  }

  &:disabled {
    border-color: $colorMediumGrey;
    color: $colorMediumGrey;
    background-color: $colorLightGrey;
    cursor: default;
  }
}
