@import 'src/styles/variables.scss';
@import 'src/styles/mixins.scss';

.artistsPage {
  width: $contentWidth;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 60px 0 100px;

  .title {
    @include text-header-h2;
    color: $colorBrandBlack;
    margin-bottom: 20px;
  }
}
