@import 'src/styles/variables.scss';
@import 'src/styles/mixins.scss';

.newsCard {
  box-sizing: border-box;
  width: 290px;
  height: 475px;
  list-style-type: none;
  display: flex;
  position: relative;

  p {
    @include reset-fieldset;
  }
  &__link {
    display: block;
    margin-bottom: 20px;
  }
  &__photo {
    position: relative;
    width: 290px;
    height: 475px;
    object-fit: cover;
    object-position: top center;
    transition: transform ease-in-out 0.35s;
  }
  &__text {
    width: 250px;
    height: 183px;
    position: absolute;
    top: 260px;
    left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    gap: 4px;
    color: $colorBrandWhite;
  }
  &__title {
    @include text-body-medium;
    line-height: 100%;
  }

  &__subtitle {
    @include text-header-h3;
    line-height: 100%;
  }
}
