@import 'src/styles/variables.scss';
@import 'src/styles/mixins.scss';

.newsSection {
  max-width: $contentWidth;
  width: 100%;
  padding: 20px 0 20px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;

  .texts {
    width: 400px;
    align-self: center;
    .title {
      @include text-header-h2;
      color: $colorBrandBlack;
      margin-bottom: 40px;
    }

    .description {
      @include text-body-large;
      color: $colorBrandBlack;
      margin-bottom: 60px;
    }

    .button {
      width: 186px;
    }
  }

  .banner {
    width: 620px;
    height: 800px;
    background-image: url('../../assets/mock/bg/news.jpg');
    background-size: contain;
    background-repeat: no-repeat;
  }
}
