@import 'src/styles/variables.scss';
@import 'src/styles/mixins.scss';

.sellerProfilePage {
  width: $contentWidth;
  margin: 0 auto;
  padding: 60px 0 120px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 60px;
  flex-grow: 1;

  .title {
    @include text-header-h2;
    color: $colorBrandBlack;
  }

  .content {
    width: 100%;
    height: 1558px;
    background-image: url('../../assets/mock/bg/seller_profile.png');
    background-size: contain;
  }
}
