@import 'src/styles/variables.scss';
@import 'src/styles/mixins.scss';

.priceAnalyticsResult {
  .title {
    @include text-header-h3;
    color: $colorBrandBlack;
    margin-bottom: 20px;
  }

  .count {
    @include text-body-large;
    color: $colorDarkGrey;
    margin-bottom: 40px;
  }

  .list {
    @include reset-list;
  }
}
